.first{
    color:red;
    background-color: white;
}
.second{
    color:green;
    background-color: black;
}
.third{
    color:grey;
    background-color:brown;
}

button{
    height: 20x;
    width: 80px;
    background-color: red;
    color: white;
}