<h1>Creare User</h1>
<form [formGroup]="userform">
    <!-- Form Validator -->
    <label>Name:</label>
    <input type="text" formControlName="name"><br>
    <div *ngIf="userform.get('name')?.touched && userform.get('name')?.invalid">
      <p *ngIf="userform.get('name')?.errors?.['required']">Name is required</p>
      <p *ngIf="userform.get('name')?.errors?.['minlength']">Name is minimum 6 characters</p>
      <p *ngIf="userform.get('name')?.errors?.['maxlength']">Name is maximum of 10 Characters</p>
    </div>
    
        <label>Email:</label>
    <input type="email" formControlName="email"><br>
        <label>Password:</label>
    <input type="password" formControlName="password"><br>
        <label>Mobile:</label>
    <input type="number" formControlName="mobile"><br>
   
    <div formGroupName="address">
        <label>City:</label>
    <input type="text" formControlName="city"><br>
    <label>State:</label>
    <input type="text" formControlName="state"><br>
    <label>Pincode:</label>
    <input type="number" formControlName="pincode"><br>
    </div>


    <!-- Dynamic Form -->

    <label>Type:</label>
    <input type="radio" name="type" formControlName="type" value="dayScholar">
        <label>Day Scholar</label>
    <input type="radio" name="type" formControlName="type" value="residential">
    <label >Residential</label><br>

    <div *ngIf="userform.get('type')?.value=='dayScholar'">
    <label>Bus Fee:</label>
    <input type="number"  formControlName="busFee"><br>
    </div>

    <div *ngIf="userform.get('type')?.value=='residential'">
    <label>Hostel Fee:</label>
    <input type="number" formControlName="hostelFee"><br>
    </div>

        <!-- Form of Aaray -->

        <h3>Cards:</h3>
        <button (click)="addCard()" class="btn btn-primary">Add Card</button>
        <div formArrayName="cards">
            <div *ngFor="let card of cardsFormArray.controls;let i=index">
                <div formGroupName="{{i}}">
                    <h3>Card{{i+1}}</h3>
                    <label>Card Number :</label>
                    <input type="number" formControlName="cardNumber"><br>
                    <label>Expiry :</label>
                    <input type="month" formControlName="expiry"><br>
                    <label>CVV Number:</label>
                   <input type="number" formControlName="cvv"><br>
                   <button class="btn btn-danger" (click)="delete(i)">Delete</button>
                </div>

            </div>

        </div>
    <button (click)="submit()" class="btn btn-success">Submit</button>
</form>