<div class="parent">
    <div class="card" *ngFor="let Flipkart of flipkart" >
        <div class="image">
                    <img src="{{ Flipkart.image}}">
                    <div class="rating"> 4.2 <i style="color: rgb(43, 179, 232);" class="bi bi-star-fill"></i>/ 58.4k </div>
                </div>
            <H4>{{ Flipkart.category}}</H4>
            <H6 style="color: rgb(2, 73, 165);">{{ Flipkart.title}}</H6>
            <H6 style="color: red;">Rs. {{ Flipkart.price}}</H6>
    </div>
</div>