<div class="parent">
    <div class="card" *ngFor="let Flipkart of flipkart" >
        <div class="image">
                    <img src="{{ Flipkart.image}}">
                    <div class="rating">
                        <app-rating-child [rating]="Flipkart.rating.rate"></app-rating-child>
                    <!-- {{Flipkart.rating.rate}} / {{Flipkart.rating.count}} -->
                </div>
                </div>
            <H4>{{ Flipkart.category}}</H4>
            <H6 style="color: rgb(2, 73, 165);">{{ Flipkart.title}}</H6>
            <H6 style="color: red;">Rs. {{ Flipkart.price}}</H6>
    </div>
</div>