.parent{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
    
}
.left{
    width: 20%;
    height: 100%;
    background-color: rgb(82, 78, 78);
    color: white;

}
.right{
    width: 80%;
    height: 100%;
    background-color: rgb(229, 231, 226);
    overflow: auto;
}